

// modules ------------------------------
@import "modules/normalize.scss";
@import "modules/grid.scss";
@import "modules/utility.scss";
// @import "modules/guide.scss";


// pages ------------------------------
@import "pages/index.scss";
@import "pages/article.scss";



// common ------------------------------
// accordion
.accordion-button{
  position: relative;
  padding-top: 80px;
  padding-bottom: 125px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  &::after{
    content: "";
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTM2Ljg2MSAtMzc5MC44NjEpIj4KICAgIDxsaW5lIHgyPSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTM2Ljg2MSAzODAwLjg2MSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxIi8+CiAgICA8bGluZSB5Mj0iMjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0Ni44NjEgMzc5MC44NjEpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSIvPgogIDwvZz4KPC9zdmc+");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, 0);
    opacity: 1;
    transition: $anim;
  }
  &.open{
    &::after{
      opacity: 0;
    }
  }
  > .-ja{
    font-size: 1.25rem;
  }
  > .-en{
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.875;
  }
}
.accordion-content{
  > .-en{
    color: #525252;
  }
}
.accordion-close{
  position: relative;
  padding-bottom: 118px;
  font-size: 1rem;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  &::after{
    content: "";
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC44NDkiIGhlaWdodD0iMTQuODQ5IiB2aWV3Qm94PSIwIDAgMTQuODQ5IDE0Ljg0OSI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMwNjYuODc5IC0yMjkzLjUwMSkgcm90YXRlKC00NSkiPgogICAgPGxpbmUgeDI9IjIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MzYuODYxIDM4MDAuODYxKSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEiLz4KICAgIDxsaW5lIHkyPSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQ2Ljg2MSAzNzkwLjg2MSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxIi8+CiAgPC9nPgo8L3N2Zz4K");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, 0);
  }
}
// more-read
.readmore-button{
  position: relative;
  padding-bottom: 125px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  &::after{
    content: "";
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTM2Ljg2MSAtMzc5MC44NjEpIj4KICAgIDxsaW5lIHgyPSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTM2Ljg2MSAzODAwLjg2MSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxIi8+CiAgICA8bGluZSB5Mj0iMjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0Ni44NjEgMzc5MC44NjEpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSIvPgogIDwvZz4KPC9zdmc+");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, 0);
    opacity: 1;
    transition: $anim;
  }
  &.open{
    &::after{
      opacity: 0;
    }
  }
  > .-ja{
    font-size: 1.25rem;
  }
  > .-en{
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.875;
  }
}

// クラウドファンディング
.common-cloud-funding{
  background: transparent linear-gradient(249deg, #92E8DE 0%, #BB80C3 100%) 0% 0% no-repeat padding-box;
  > .cloud-funding{
    padding: 80px 0;
    > .col{
      letter-spacing: 0.02em;
      &:first-child{
        margin-bottom: 50px;
      }
      > .title{
        color: #FFF;
        text-align: center;
        &.-ja{
          font-size: 1.875rem;
          font-weight: 600;
        }
        &.-en{
          margin-top: 20px;
          font-size: 1.25rem;
          letter-spacing: 0.05em;
        }
      }
      > .text{
        font-size: 1rem;
        color: #FFF;
        line-height: 1.875;
        text-align: center;
        &.-ja{
          margin-top: 50px;
        }
        &.-en{
          margin-top: 20px;
        }
      }
      > .box{
        position: relative;
        padding: 40px 24px 75px;
        border: 1px #FFF solid;
        cursor: pointer;
        &::after{
          content: "";
          position: absolute;
          bottom: 35px;
          left: 50%;
          width: 20px;
          height: 20px;
          background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTA5IDExNCkiPgogICAgPHBhdGggZD0iTTEyNy0xMDMuNTc3Vi05My41SDEwOS41Vi0xMTFoMTAuMDgyIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIxIi8+CiAgICA8cGF0aCBkPSJNMTIwLjAwNy0xMTMuNUgxMjkuNXY5LjQ5MSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMSIvPgogICAgPGxpbmUgeTE9IjEzLjUiIHgyPSIxMy41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMTYgLTExMy41KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMSIvPgogIDwvZz4KPC9zdmc+");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          transform: translate(-50%, 0);
        }
        > .title{
          font-size: 1.25rem;
          color: #FFF;
          line-height: 2;
          text-align: center;
        }
        > .text{
          font-size: 1rem;
          color: #FFF;
          letter-spacing: 0.05em;
          line-height: 1.875;
          text-align: center;
        }
      }
    }
  }
}
// footer
.common-contact{
  display: block;
  background: transparent linear-gradient(249deg, #3C9587 0%, #5B52A2 100%) 0% 0% no-repeat padding-box;
  > .contact{
    position: relative;
    padding: 50px 0 116px;
    &::after{
      content: "";
      position: absolute;
      bottom: 50px;
      left: 50%;
      width: 60px;
      height: 36px;
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDYwIDM2Ij4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjkwIC05Mzc4KSI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTAgOTM3OCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxIj4KICAgICAgPHJlY3Qgd2lkdGg9IjYwIiBoZWlnaHQ9IjM2IiBzdHJva2U9Im5vbmUiLz4KICAgICAgPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSI1OSIgaGVpZ2h0PSIzNSIgZmlsbD0ibm9uZSIvPgogICAgPC9nPgogICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzUwIDkzOTcpIHJvdGF0ZSgxODApIiBmaWxsPSJub25lIj4KICAgICAgPHBhdGggZD0iTTMwLDAsNjAsMTlIMFoiIHN0cm9rZT0ibm9uZSIvPgogICAgICA8cGF0aCBkPSJNIDMwLjAwMDAwMTkwNzM0ODYzIDEuMTgzNjg1MzAyNzM0Mzc1IEwgMy40NDc5MjU1Njc2MjY5NTMgMTggTCA1Ni41NTIwNzgyNDcwNzAzMSAxOCBMIDMwLjAwMDAwMTkwNzM0ODYzIDEuMTgzNjg1MzAyNzM0Mzc1IE0gMzAuMDAwMDAxOTA3MzQ4NjMgMCBMIDYwIDE5IEwgMy44MTQ2OTcyNjU2MjVlLTA2IDE5IEwgMzAuMDAwMDAxOTA3MzQ4NjMgMCBaIiBzdHJva2U9Im5vbmUiIGZpbGw9IiNmZmYiLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPg==");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, 0);
    }
    > .col{
      > .title{
        color: #FFF;
        text-align: center;
        &.-ja{
          font-size: 1.125rem;
          line-height: 2;
        }
        &.-en{
          margin-top: 10px;
          font-size: 1rem;
          letter-spacing: 0.05em;
        }
      }
    }
  }
}
